@use "sass:color";

body,html {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

.container {
	max-width: 1280px;
	margin: auto;
	position: relative;
}

//button =================================

@mixin button ($type) {
	border: 0;
	padding: 0.75rem 1.5rem;
	font-weight: 400;
	font-size: 1.1rem;
	background-color: rgb(102, 102, 102);
	color: white;
  display: inline-block;
	cursor: pointer;
	border-radius: 50px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);

  &:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

//footer =================================

.footer {
  background-color: #353535;

  .container {
    display: flex;
    flex-direction: column;
  }
	
	&__title {
		color: white;
    font-size: 1.5rem;
    font-family: 'shrikhand';
    font-weight: lighter;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0;
	}

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  &__listElt {
    margin:0.5rem 0;  
  }

  &__link {
    text-decoration: none;
    color: white;

    &:hover {
      color: $color-primary;
    }
  }

  &__icon {
    width: 1rem;
    margin-right: 0.5rem;
  }
}
