h1 {
  font-family: "Shrikhand";
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em; 
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em; 
}

h5 {
  font-family: 'shrikhand';
  font-size: 1.5rem;
}