//section location =======================
.local {
  display: flex;
  justify-content: center;
  background-color:#ecececd7;
  position: relative;
  font-size: 1.2rem;
  padding: 0.8rem 1rem $appPadding;

  &__icon {
  margin-right: 1rem;
  }

  &__text {
    font-weight: 700;
  }
}

//section hero banner =======================
.hero {
  text-align: center;
  padding: 1.8em;
  background-color: rgb(243, 243, 243);
  height: 230px;
  
  &__title {
    margin: 0;
  }

  &__subtitle {
    font-weight: 400;
    margin: 1rem ;
    margin-bottom: 2rem;
    color: #7e7e7e;
  }
  
  &__btn {
    @include button(primary);
  }
}

//section Fonctionnement =======================
.fonct {
  padding: 2rem;

  &__title {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }  
}

.steps {
  margin: 0;
  padding: 0;
}

.step {
  background-color: whitesmoke;
  border-radius: 16px;
  padding: 1rem 1.8rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
  font-family: 'Arial';
  font-weight: bold;
  position: relative;
  margin-bottom: 1.5rem;
  height: 2.5rem;

  &__i {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}  

.step__number {
  position: absolute;
  background-color: purple;
  color: #fff;
  font-size: 0.9rem;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  }

// section restaurants  =======================
.restaurants {
  background-color: #f6f6f6;
  padding: 2rem;

  &__title {
    font-size: 1.8em;  
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width:64rem){
    grid-template-columns: repeat(2, 1fr);

  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative ;
  display: block;
  text-decoration: none;
  color: inherit;

  &__img {
    height: 12rem;
    width: 100%;
    border: 0px solid transparent;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  &__badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem ;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
  }
  &__subtitle {
    margin: 0;
  }
  
  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    cursor: pointer;
  }

  &__like {
    background-color: white !important;
  }
}
    





