@use "sass:color";

//button =================================
@mixin button ($type) {
	border: 0;
	padding: 0.75rem 1.5rem;
	font-weight: 500;
	font-size: 1.1rem;
	background-color: rgb(102, 102, 102);
	color: white;
  display: inline-block;
	cursor: pointer;
	border-radius: 50px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
  transition-duration: 0.25s;
  
  &:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}