//Homepage Desktop version =================== 
.hero {  
  &__title {   
    @media (min-width:64rem) {
      br {
        display: none;
      }
      font-size: 3rem;      
    }
  }

  &__subtitle {    
    @media (min-width:64rem) {
      font-size: 1.6rem;      
    }
  }
}

.card {  
  @media (min-width:64rem){
    grid-template-columns: repeat(2, 1fr);
  }
}

.step {
  @media(min-width: 64rem) {
    width: 14rem;
    justify-content: center;
    animation: animestep 2.5s ;
    animation-fill-mode: both;
  }
}

//Menupage for Desktop version===================
.submenu {
  @media(min-width: 64rem){
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }
}

//Footer for Desktop version===================
.footer__listElt {
   
  @media (min-width:64rem) {
    display: inline-flex;
    padding-right: 2rem;
  }
  
} 
